<<<<<<< HEAD
body {
    font-family: Arial;
    background: #d2e2ff;
    padding: 20px;
}

.container {
    background: #ffffff;
    max-width: 850px;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
}

.name, .title {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    color: #12326b;
    margin-top: 25px;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.fade { opacity: 0; }

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header-left {
    width: 100%;
    text-align: center;
}

.name {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.contact-links {
    margin-top: 8px;
}

.contact-links a {
    color: #12326b;
    font-weight: 600;
    text-decoration: none;
}

.contact-links a:hover {
    text-decoration: underline;
}

/* Photo styling */
.header-photo img {
    width: 120px;
    height: 180px;
    border-radius: 6px;
=======
body {
    font-family: Arial;
    background: #d2e2ff;
    padding: 20px;
}

.container {
    background: #ffffff;
    max-width: 850px;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
}

.name, .title {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    color: #12326b;
    margin-top: 25px;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.fade { opacity: 0; }

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header-left {
    width: 100%;
    text-align: center;
}

.name {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.contact-links {
    margin-top: 8px;
}

.contact-links a {
    color: #12326b;
    font-weight: 600;
    text-decoration: none;
}

.contact-links a:hover {
    text-decoration: underline;
}

/* Photo styling */
.header-photo img {
    width: 120px;
    height: 180px;
    border-radius: 6px;
>>>>>>> 9d19e94be71db58075429ee3f276d25999275633
}